# IDE files
.idea/
.vscode/
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints/

# Distribution / packaging
.eggs/
*.egg-info/
*.egg

# Data files
*.pkl

# Model checkpoints and logs
*.pt
checkpoint*/

# Results and output directories
Results/
BestRun/
_Results/

# Log files
*.txt

# Documentation files (if needed)
DeepCFD.md